.ui-dataview .search-icon {
    margin-top: 3em;
}

.ui-dataview .filter-container {
    text-align: center;
}

@media (max-width: 40em) {
    .ui-dataview .car-details, .ui-dataview .search-icon{
        text-align: center;
        margin-top: 0;
    }

    .ui-dataview .filter-container {
        text-align: left;
    }
}
.car-item {
    padding-top: 5px;
}

.car-item .ui-md-3 {
    text-align: center;
}

.car-item .ui-g-10 {
    font-weight: bold;
}

.empty-car-item-index {
    background-color: #f1f1f1;
    width: 60px;
    height: 60px;
    margin: 36px auto 0 auto;
    animation: pulse 1s infinite ease-in-out;
}

.empty-car-item-image {
    background-color: #f1f1f1;
    width: 120px;
    height: 120px;
    animation: pulse 1s infinite ease-in-out;
}

.empty-car-item-text {
    background-color: #f1f1f1;
    height: 18px;
    animation: pulse 1s infinite ease-in-out;
}

.title-container {
    padding: 1em;
    text-align: right;
}

.sort-container {
    text-align: left;
}

@media (max-width: 40em) {
    .car-item {
        text-align: center;
    }
    .index-col {
        display: none;
    }
    .image-col {
        display: none;
    }
}
@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}