//shades
$primaryColor100:#E5E6F5;
$primaryColor200:#D1D3EF;
$primaryColor300:#C1C4E9;
$primaryColor400:#A6A9DE;
$primaryColor500:#8287C9;
$primaryColor600:#41457D;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#feedbc;
$highlightBgColorDark:#ffde7a;
$highlightColorText:#4c4224;

@import '../sass/theme/_theme';