//shades
$primaryColor100:#DDECF5;
$primaryColor200:#B9D8EB;
$primaryColor300:#A3C8E0;
$primaryColor400:#98BED7;
$primaryColor500:#82ADC9;
$primaryColor600:#2F5D7A;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#FEDEBC;
$highlightBgColorDark:#F9CC9B;
$highlightColorText:#726557;

@import '../sass/theme/_theme';
