//shades
$primaryColor100:#F6F0DB;
$primaryColor200:#F4E9C6;
$primaryColor300:#F2E1AD;
$primaryColor400:#EFD996;
$primaryColor500:#E6C665;
$primaryColor600:#AA8415;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#cfe4de;
$highlightBgColorDark:#bfdbd3;
$highlightColorText:#385048;

@import '../sass/theme/_theme';
