//shades
$primaryColor100:#F2F6D2;
$primaryColor200:#E8EDB8;
$primaryColor300:#DDE39E;
$primaryColor400:#D3DC7C;
$primaryColor500:#C1CC51;
$primaryColor600:#7E8813;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#E4C0E9;
$highlightBgColorDark:#C199C6;
$highlightColorText:#392d3b;

@import '../sass/theme/_theme';
