//shades
$primaryColor100:#F3E8FC;
$primaryColor200:#E8D5F8;
$primaryColor300:#DFC7F4;
$primaryColor400:#CAAEE3;
$primaryColor500:#A882C9;
$primaryColor600:#573078;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#BECFE2;
$highlightBgColorDark:#9EB2CA;
$highlightColorText:#2f353c;

@import '../sass/theme/_theme';
