//shades
$primaryColor100:#e3f8f3;
$primaryColor200:#d8efe9;
$primaryColor300:#c0e2d9;
$primaryColor400:#6eceb7;
$primaryColor500:#61b5a1;
$primaryColor600:#23594c;

//main color
$primaryColor:$primaryColor500;

//highlight
$highlightBgColor:#feedbc;
$highlightBgColorDark:#ffde7a;
$highlightColorText:#4c4224;

@import '../sass/theme/_theme';
