<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-3">
            <div class="intro-box">
                <div class="intro-box-name intro-box-greeting">Morning Jane</div>
                <div class="intro-box-detail">System Administrator</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-9 intro-box-detail-container">
            <div class="intro-box">
                <div class="intro-box-name">Account Status</div>
                <div class="intro-box-detail">
                    <span class="badge-green">PREMIUM</span>
                </div>
            </div>
            <div class="intro-box">
                <div class="intro-box-name">New Tasks</div>
                <div class="intro-box-detail">12</div>
            </div>
            <div class="intro-box">
                <div class="intro-box-name">Next Payment</div>
                <div class="intro-box-detail">Jan, 26</div>
            </div>
            <div class="intro-box">
                <div class="intro-box-name">Last Update</div>
                <div class="intro-box-detail">Jan, 25</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-xl-3">
            <div class="overview-box overview-box-sales">
                <img src="assets/layout/images/dashboard/asset-sales.svg" library="olympia-layout" />
                <div class="overview-box-content">
                    <div class="overview-box-title">SALES</div>
                    <div class="overview-box-details">$74,325</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-xl-3">
            <div class="overview-box overview-box-views">
                <img src="assets/layout/images/dashboard/asset-views.svg" alt="olympia-layout" />
                <div class="overview-box-content">
                    <div class="overview-box-title">VIEWS</div>
                    <div class="overview-box-details">6215/day</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-xl-3">
            <div class="overview-box overview-box-users">
                <img src="assets/layout/images/dashboard/asset-users.svg" alt="olympia-layout" />
                <div class="overview-box-content">
                    <div class="overview-box-title">USERS</div>
                    <div class="overview-box-details">52,512</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-xl-3">
            <div class="overview-box overview-box-checkins">
                <img src="assets/layout/images/dashboard/asset-checkins.svg" alt="olympia-layout" />
                <div class="overview-box-content">
                    <div class="overview-box-title">CHECK-INS</div>
                    <div class="overview-box-details">156</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-xl-9 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12 ui-lg-6 payments">
                    <div class="section-title">Payments</div>
                    <div class="card payment">
                        <div class="payment-title">Brooke has sent you a payment</div>
                        <div class="payment-time"><i class="fa fa-clock-o"></i> 16:19</div>
                        <div class="payment-amount">$1500</div>
                        <div class="payment-sender">
                            <img src="assets/layout/images/avatar-brooke.png" alt="olympia-layout" />
                            <span>Brooke MacCarthy</span>
                        </div>
                    </div>
                    <div class="card payment">
                        <div class="payment-title">Lucas has sent you a payment</div>
                        <div class="payment-time"><i class="fa fa-clock-o"></i> 14:12</div>
                        <div class="payment-amount">$500</div>
                        <div class="payment-sender">
                            <img src="assets/layout/images/avatar-lucas.png" alt="olympia-layout" />
                            <span>Lucas Alvarez</span>
                        </div>
                    </div>
                    <div class="card payment">
                        <div class="payment-title">Claire has sent you a payment</div>
                        <div class="payment-time"><i class="fa fa-clock-o"></i> 10:21</div>
                        <div class="payment-amount">$2000</div>
                        <div class="payment-sender">
                            <img src="assets/layout/images/avatar-claire.png" alt="olympia-layout" />
                            <span>Claire Williams</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6 projects">
                    <div class="section-title">Projects</div>
                    <div class="card project">
                        <div class="project-title">CUSTOMER PORTAL</div>
                        <p>Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence. </p>
                        <span class="project-badge">Redesign</span>
                        <span class="project-badge project-badge-alt">Plan</span>
                        <div class="project-progress project-progress-1">
                            <div class="project-progress-value">33%</div>
                        </div>
                    </div>
                    <div class="card project">
                        <div class="project-title">CHECKOUT FLOW</div>
                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
                        <span class="project-badge">Redesign</span>
                        <span class="project-badge project-badge-alt">Implementation</span>
                        <div class="project-progress project-progress-2">
                            <div class="project-progress-value">18%</div>
                        </div>
                    </div>
                    <div class="card project">
                        <div class="project-title">AUTHENTICATION</div>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking.</p>
                        <span class="project-badge">Test</span>
                        <span class="project-badge project-badge-alt">Deploy</span>
                        <div class="project-progress project-progress-3">
                            <div class="project-progress-value">64%</div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-8">
                    <div class="card timeline ui-fluid">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <span class="event-time">just now</span>
                                <i class="fa fa-map-signs" style="color:#c6bca2"></i>
                            </div>
                            <div class="ui-g-9">
                                <span class="event-owner">Katherine May</span>
                                <span class="event-text">Lorem ipsun dolor amet</span>
                                <div class="event-content">
                                    <img src="assets/layout/images/dashboard/antalya.png" alt="olympia-layout" width="100"/>
                                </div>
                            </div>
                            
                            <div class="ui-g-3">
                                <span class="event-time">12h ago</span>
                                <i class="fa fa-star" style="color:#b5c6c0"></i>
                            </div>
                            <div class="ui-g-9">
                                <span class="event-owner">Brandon Santos</span>
                                <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                            </div>
                                                            
                            <div class="ui-g-3">
                                <span class="event-time">2d ago</span>
                                <i class="fa fa-map" style="color:#bab3cc"></i>
                            </div>
                            <div class="ui-g-9">
                                <span class="event-owner">Jason Smith</span>
                                <span class="event-text">Laudantium, repudiandae, similique!</span>
                                <div class="event-content">
                                    <img src="assets/layout/images/dashboard/stats-comp.png" alt="olympia-layout" />
                                </div>
                            </div>                                    
                            <div class="ui-g-3">
                                <span class="event-time">2w ago</span>
                                <i class="fa fa-history" style="color:#b5c6c0"></i>
                            </div>
                            <div class="ui-g-9">
                                <span class="event-owner">Walter White</span>
                                <span class="event-text">I am the one who knocks!</span>
                            </div>
                            <div class="ui-g-12">
                                <button pButton type="button" label="Refresh" icon="ui-icon-refresh" class=""></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <div class="card accounting">
                        <div class="accounting-title">Revenue This Month</div>
                        <div class="accounting-value">$36998</div>
                        <img src="assets/layout/images/dashboard/lines1.png" alt="olympia-layout" />
                        <div class="accounting-progress accounting-progress-1">
                            <div class="accounting-progress-value"></div>
                        </div>
                        <div class="accounting-footer">%19 more than last month</div>
                    </div>

                    <div class="card accounting">
                        <div class="accounting-title">Income This Month</div>
                        <div class="accounting-value">$21500</div>
                        <img src="assets/layout/images/dashboard/lines2.png" alt="olympia-layout" />
                        <div class="accounting-progress accounting-progress-2">
                            <div class="accounting-progress-value"></div>
                        </div>
                        <div class="accounting-footer">%22 more than last month</div>
                    </div>
                </div>
            </div>
        </div>
                <div class="ui-g-12 ui-xl-3">
                    <div class="section-title">Services</div>
                    <div class="card service-box">
                        <i class="fa fa-wifi"></i>
                        <div>
                            <span class="service-name">WiFi Services</span>
                            <span class="service-status">10/24 Online</span>
                        </div>
                        <button pButton type="button" label="Enable" class="ui-button-success"></button>
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-dashboard"></i>
                        <div>
                            <span class="service-name">Monitoring</span>
                            <span class="service-status">59 New Reports</span>
                        </div>
                        <button pButton type="button" label="Disable" class="ui-button-danger"></button>
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-lock"></i>
                        <div>
                            <span class="service-name">Security</span>
                            <span class="service-status">10/24 Online</span>
                        </div>
                        <button pButton type="button" label="Enable" class="ui-button-success"></button>
                    </div>
                    <div class="card service-box">
                        <i class="fa fa-coffee"></i>
                        <div>
                            <span class="service-name">Coffee Machine</span>
                            <span class="service-status">714 Shots Available</span>
                        </div>
                        <button pButton type="button" label="Enable" class="ui-button-success"></button>
                    </div>

                    <div class="usercard">
                        <div class="usercard-header">
                            <span class="usercard-name">Jane Watson</span>
                            <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
                        </div>
                        <div class="usercard-content card">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum mi consequat risus consectetur, eget porta est dignissim. </p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bug"></i>
                                        <span class="usercard-number">49</span> Issues
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        <span class="usercard-number">7</span> Open
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-circle"></i>
                                        <span class="usercard-number">42</span> Closed
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="usercard-footer">
                            <button pButton (click)="menu.toggle($event)" type="button" icon="fa fa-ellipsis-h" class="ui-button-success"></button>
                            <p-menu #menu [popup]="true" [model]="items">
                            </p-menu>
                        </div>
                    </div>

                    <div class="inbox">
                        <div class="inbox-header">
                            INBOX
                            <a href="#">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                        <div class="inbox-content">
                            <ul>
                                <li>
                                    <img src="assets/layout/images/avatar-claire.png" alt="olympia-layout" />
                                    <div class="inbox-sender">Claire Williams</div>
                                    <div class="inbox-message"> Override the digital divide with additional clickthroughs from DevOps.</div>
                                </li>
                                <li>
                                    <img src="assets/layout/images/avatar-lucas.png" alt="olympia-layout" />
                                    <div class="inbox-sender">Lucas Alvarez</div>
                                    <div class="inbox-message">Podcasting operational change management inside of workflows to establish a framework.</div>
                                </li>
                                <li>
                                    <img src="assets/layout/images/avatar-maggie.png" alt="olympia-layout" />
                                    <div class="inbox-sender">Maggie Stanford</div>
                                    <div class="inbox-message">Taking seamless key performance indicators offline to maximise the long tail.</div>
                                </li>
                                <li>
                                    <img src="assets/layout/images/avatar-tom.png" alt="olympia-layout" />
                                    <div class="inbox-sender">Tom Davidson</div>
                                    <div class="inbox-message">Keeping your eye on the ball while performing a deep dive on the start-up mentality.</div>
                                </li>
                                <li>
                                    <img src="assets/layout/images/avatar-brooke.png" alt="olympia-layout" />
                                    <div class="inbox-sender">Brooke MacCarthy</div>
                                    <div class="inbox-message">Collaboratively administrate empowered markets via plug-and-play networks.</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="transactions">
                        <div class="ui-g">
                            <div class="ui-g-6 transaction-success">
                                <div class="transaction-graph">42%</div>
                                <div class="transaction-type">Success</div>
                                <div class="transaction-value">79280</div>
                            </div>
                            <div class="ui-g-6 transaction-failed">
                                <div class="transaction-graph">5%</div>
                                <div class="transaction-type">Failed</div>
                                <div class="transaction-value">12</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-xl-8">
                    <p-table [columns]="cols" [value]="cars" selectionMode="single" dataKey="vin" [(selection)]="selectedCar" [responsive]="true"
                    [paginator]="true" [rows]="10" paginatorPosition="both">
                    <ng-template pTemplate="caption">
                            List of Cars
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </div>
                <div class="ui-g-12 ui-xl-4">
                    <div class="card chat">
                        <ul>
                            <li class="clearfix message-from">
                                <img src="assets/layout/images/avatar-brooke.png" alt="olympia-layout" />
                                <span>Ab nobis, magnam sunt eum. Laudantium,!</span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Actually artisan organic occupy.</span>
                                <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
                            </li>
                            <li class="clearfix message-from">
                                <img src="assets/layout/images/avatar-brooke.png" alt="olympia-layout" />
                                <span>Chillwave craft beer tote bag stumptown quinoa.</span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Dreamcatcher locavore iPhone chillwave.</span>
                                <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
                            </li>
                            <li class="clearfix message-from">
                                <img src="assets/layout/images/avatar-brooke.png" alt="olympia-layout" />
                                <span>Lorem ipsum dolor sit amet, consectetur. </span>
                            </li>
                            <li class="clearfix message-own">
                                <span>Vestibulum bibendum mi consequat risus.</span>
                                <img src="assets/layout/images/avatar.png" alt="olympia-layout" />
                            </li>
                        </ul>
                        <div class="new-message">
                            <textarea></textarea>
                            <div class="new-message-footer">
                                <a class="new-message-icon"><i class="fa fa-paperclip"></i></a>
                                <a class="new-message-icon"><i class="fa fa-cog"></i></a>

                                <a class="new-message-send">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
